* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  padding: 40px 20vw;
  height: 20vh;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .logo {
  width: 100px;
}

.header .main-heading {
  font-size: 24px;
  color: #F9FAF8;
  min-width: max-content;
}

.header .nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.header .nav-links li {
  list-style: none;
}

.header .nav-links li a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.main {
  padding: 40px 20vw; 
  min-height: 80vh;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.main .info {
  flex: 1 1 300px;
}

.main .info .sec-heading {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.main .info .text-info {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 10px;
}

.main .info .sign-up-button {
  background-color: #3882f6;
  color: #E5E7EB;
  font-size: 15px;
  padding: 10px 30px;
  border: none;
  border-radius: 18px;
}

.main .main-image-container {
  flex: 1 1 400px;
}

.main .main-image-container .main-image {
  height: auto;
  max-width: 100%;
}

.places {
  min-height: 60vh;
  padding: 40px 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.places .thi-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  min-width: max-content;
}

.places .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.places .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.places .items .item .image-item {
  max-height: 200px;
  width: 100%;
}

.places .items .item .title-item {
  font-size: 17px;
}

.places .items .item .text-item {
  color: #595959;

}

.places .more-phrase {
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

.quote {
  background-color: #E5E7EB;
  min-height: 40vh;
  padding: 40px 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote .quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote .quote-sign {
  font-size: 26px;
  margin-left: auto;
}

.sing-up-section {}

.sign-up-section .card {}

.sign-ip-section .card .card-text-container {}

.sign-ip-section .card .card-text-container .card-title {}

.sign-ip-section .card .card-text-container .card-text {}

.sign-ip-section .card .sign-up-buttom {}

.footer {}

.footer .footer-text {}
